input.question + label{
    display: block;
    position: relative;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    top: 5px;
}
.position{
    margin-left: 10px;
    margin-right: 10px;
}
.main{
    background-color: #ffffff;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    padding: 40px;
    margin-bottom: 40px;
}
.back-to{
    width: 125px;
    height: 14px;
    font-family: Roboto;
    font-size: 11px;
    font-weight: bold;
    text-align: left;
    color: #bdbdbd;
    border: none;
    background: no-repeat;
    margin-bottom: 14px;
    outline: none;
}
.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 27px;
}
.header > span{
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    color: #424242;
}
.header > button{
    border: none;
    border-radius: 3px;
    height: 32px;
    width: 136px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.16);
    color: #000000;
    position: relative;
    text-align: right;
    padding-right: 16px;
    outline: none;
}
.header > button > i{
    color: #757575;
    position: absolute;
    left: 17px;
    height: 16px;
    font-size: 20px;
}
.caption-head{
    font-size: 24px;
    letter-spacing: -0px;
    text-align: left;
    color: #1976d2;
    margin-bottom: 6px;
}
.caption-body{
    font-size: 16px;
    line-height: 1.38;
    text-align: left;
    color: #757575;
    width: 688px;
    margin-bottom: 32px;
}
.second-caption{
    font-size: 18px;
    line-height: 1.44;
    text-align: left;
    color: #2d353c;
    margin-bottom: 20px;
}
.comment{
    font-family: Roboto;
    font-size: 16px;
    text-align: left;
    color: #797979;
}
  .label-cbx {
    user-select: none;
    cursor: pointer;
    margin-bottom: 0;
    display: flex;
  }
  .label-cbx input:checked + .checkbox {
    border-color: #20C2E0;
  }
  .label-cbx input:checked + .checkbox svg path {
    fill: #1976d2;
  }
  .label-cbx input:checked + .checkbox svg polyline {
    stroke-dashoffset: 0;
  }
  .label-cbx:hover .checkbox svg path {
    stroke-dashoffset: 0;
  }
  .label-cbx .checkbox {
    position: relative;
    top: 2px;
    float: left;
    margin-right: 16px;
    width: 18px;
    height: 18px;
    border: 2px solid #757575;
    border-radius: 1px;
  }
  .label-cbx .checkbox svg {
    position: absolute;
    top: -2px;
    left: -2px;
  }
  .label-cbx .checkbox svg path {
    fill: none;
    stroke: #1976d2;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 71px;
    stroke-dashoffset: 71px;
    transition: all 0.6s ease
  }
  .label-cbx .checkbox svg polyline {
    fill: none;
    stroke: #FFF;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 18px;
    stroke-dashoffset: 18px;
    transition: all 0.3s ease;
  }
  .label-cbx > span {
    pointer-events: none;
    position: relative;
    top: 11px;
    font-size: 16px;
    letter-spacing: -0.1px;
    text-align: left;
    color: #000000;
    font-weight: 600;
  }
  .input-wrap{
    margin-top: 32px;
  }
  
  .cntr {
    width: 283px;
  }
 .checkbox-wrap-bot{
     display: flex;
     justify-content: space-between;
     padding-right: 29px;
     position: relative;
     left: -14px;
     margin-bottom: 40px;
 }
 .checkbox-wrap-top{
    display: flex;
    justify-content: space-between;
    padding-right: 29px;
    position: relative;
    left: -14px;
 }
 .managed-checkbox{
    position: relative;
    left: -2px;
 }
 .star{
    font-size: 14px;
    font-weight: 900;
    letter-spacing: -0px;
    text-align: left;
    color: #e62a10;
 }
 .individual{
    width: 123px;
 }
 .trading-partner{
    width: 172px;
 }
 .group-content{
    width: 96px;
    height: 34px;
 }
 .managed{
     width: 279px;;
 }
    ::-webkit-input-placeholder {color:rgba(153, 153, 153)}
    ::-moz-placeholder          {color:rgba(153, 153, 153);}/* Firefox 19+ */
    :-moz-placeholder           {color:rgba(153, 153, 153);}/* Firefox 18- */
    :-ms-input-placeholder      {color:rgba(153, 153, 153);}
 input{
     padding-bottom: 9px;
 }
 .suffix{
    border: none;
    background: none;
    font-size: 15px;
    width: 100px;
    height: 33px;
    border-bottom: 1px solid #9a9a9a;
    text-align: left;
    color: rgb(117, 117, 138) !important;
    padding-bottom: 4px;
}
.arrow-dawn{
    position: absolute;
    right: 0;
}
.dropdown-menu{
    width: 100% !important;
}
.row-button{
    margin-top: 40px;
}
.row-button > button{
    border: none;
    border-radius: 3px;
    width: 160px;
    height: 35px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.16);
    position: relative;
    text-align: center;
    margin-right: 20px;
    outline: none;
    
}
.submit{
    background: #1976d2;
    color: #ffffff;
}
.cancel{
    color: #000000;
    background: white;
}
.row-content{
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;
}
.row-phone{
    display: flex;
    justify-content: flex-start; 
    margin-bottom: 28px;    
}

.row-phone > input{
    outline: none;
    padding-bottom: 4px;
    border-top: none;
    border-left: none;
    border-right: none;
    color: rgba(153, 153, 153)
}
.row-content > input{
    outline: none;
    padding-bottom: 4px;
    border-top: none;
    border-left: none;
    border-right: none;
}
.phone + span{
    width: 8px;
    color: #c2c2c2;
    margin-left: 11px;
    margin-right: 11px;
}
.organization{
    border: none;
    border-bottom: 2px solid rgb(217, 217, 217);
}
.first-name{
    width: 236px;
    border-bottom:1px solid #9a9a9a;
}
.MI{
    width: 100px;
    border-bottom:1px solid #9a9a9a;
}
.last-name{
    width: 236px;
    border-bottom:1px solid #9a9a9a;
}
.address-line{
    border-bottom: solid 1px rgba(0, 0, 0, 0.24);
}
.city{
    width: 301px;
    border-bottom: solid 2px rgba(0, 0, 0, 0.24);
}
.state{
    width: 301px;
    border-bottom: 2px solid rgb(217, 217, 217);
}
.zip{
    width: 100px;
    border-bottom: solid 1px #9a9a9a;
}
.plus-4{
    width: 100px;
    border-bottom: solid 1px #9a9a9a;
}
.phone{
    width: 236px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.24);
}
.ext{
    width: 100px;
    border-bottom: 2px solid rgb(217, 217, 217);
}
.contact-last-name{
    width: 236px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.24);
}
.contact-first-name{
    width: 236px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.24);
}
.contact-phone{
    width: 236px;
    border-bottom: solid 1px #9a9a9a;
}
.ext-bot{
    width: 95px;
    border-bottom: solid 1px #9a9a9a;
}
.attn{
    border-bottom: solid 1px #9a9a9a;
}
.line{
    color: #c2c2c2;
}
