.Rectangle-3{
    height: 100%;
    background-color: #ffffff;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    padding: 40px;
    padding-bottom: 20px;
}
.Claim-details {
    width: 644px;
    height: 35px;
    font-family: Roboto;
    font-size: 30px;
    letter-spacing: -0.1px;
    text-align: left;
    color: #424242;
  }
  .column-1 {
    width: 248px;
    height: 20px;
    font-family: Roboto;
    font-size: 13px;
    line-height: 1.54;
    text-align: left;
    color: #757575;
  }
  .column-2 {
    width: 247px;
    height: 20px;
    font-family: Roboto;
    font-size: 13px;
    line-height: 1.54;
    text-align: left;
    color: #757575;
  }
  .column-3 {
    width: 247px;
    height: 20px;
    font-family: Roboto;
    font-size: 13px;
    line-height: 1.54;
    text-align: left;
    color: #757575;
  }
  .column-4 {
    width: 37px;
    height: 20px;
    font-family: Roboto;
    font-size: 13px;
    line-height: 1.54;
    text-align: left;
    color: #757575;
  }
  .column-4-bot{
    width: 137px;
    height: 20px;
    font-family: Roboto;
    font-size: 13px;
    line-height: 1.54;
    text-align: left;
    color: #757575; 
  }
  .column-1-item{
    width: 248px;
    height: 22px;
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.38;
    text-align: left;
    color: rgba(0, 0, 0, 0.87);
  }
  .column-2-item {
    width: 247px;
    height: 22px;
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.38;
    text-align: left;
    color: rgba(0, 0, 0, 0.87);
  }
  .column-3-item {
    width: 247px;
    height: 22px;
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.38;
    text-align: left;
    color: rgba(0, 0, 0, 0.87);
  }
  .column-4-item {
    width: 37px;
    height: 22px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.38;
    text-align: left;
    color: #4caf50;
  }
  .column-4-item-bot{
    width: 37px;
    height: 22px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.38;
    text-align: left;
  }
.name-items{
    padding-left: 0;
    padding-right: 172px;
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    margin-bottom: 28px;
}
.name-head{
    padding-left: 0;
    padding-right: 170px;
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
}
.name-head-bot{
    padding-left: 0;
    padding-right: 22px;
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
}
.head-top-content{
    display: flex;
    justify-content: space-between;
}
.print-btn + button{
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    color: #1976d2;
    background-color: #ffffff;
    border: none;
    outline: none;
}
.print-btn{
    width: 96px;
    height: 32px;
    background-color: #ffffff;
    border: none;
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    color: #1976d2;
    position: relative;
    outline: none;
    padding-right: 19px;
}
.print-icon{
    position: absolute;
    left: -25px;
    color: #616161;
    top: 3px;
}
.bottom-content{
    display: flex;
    margin-top: 32px;
    width: 100%;
    margin-bottom: 50px;
    flex-flow: column;
}
.claim-codes{
    width: 134px;
    height: 28px;
    font-family: Roboto;
    font-size: 24px;
    letter-spacing: -0px;
    text-align: left;
    color: #1976d2;
    margin-left: 3px;
    margin-top: 0;
    
}
.adjustment-reason-codes{
    width: 205px;
    height: 26px;
    font-family: Roboto;
    font-size: 18px;
    line-height: 1.44;
    text-align: left;
    color: #2d353c;
}
.back-to-claims{
    width: 145px;
    height: 14px;
    font-family: Roboto;
    font-size: 11px;
    font-weight: bold;
    text-align: left;
    color: #bdbdbd;
    border: none;
    background: no-repeat;
    margin-bottom: 14px;
}
.content-wrap{
    width: 100%;
    padding: 40px;
    background: white;
    border-bottom: 1px solid #e0e0e0;
    border-top: 4px solid #0288d1 ;
    margin-bottom: 32px;

}
.caption{
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    color: #424242;
}

.column-top-1{
    width: 230px;
}
.column-top-2{
    width: 244px;
}
.column-top-3{
    width: 230px;
}
.column-top-4{
    width: 230px;
}
.row-wrap{
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.43;
    text-align: left;
    color: #424242;
}
.caption{
    margin-bottom: 24px;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    color: #424242;
    font-weight: 500;
}
.blue-style{
    text-decoration: underline;
    font-size: 13px;
    color: #1976d2;
    font-weight: 500;
}
.lable{
    font-size: 15px;
    letter-spacing: -0px;
    text-align: left;
    color: #757575;
    font-weight: 500;
}
.row-top{
    padding: 16px 0;
    border-bottom: solid 1px #e0e0e0;
}
.row-last{
    border-bottom: none;
    padding-bottom: 0;
}
.item-position{
    margin-bottom: 24px;
}
.icon-create{
    position: absolute;
    font-size: 22px;
    right: 52px;
    top: 2px;
    color: #757575;
}
.payment-only{
    position: relative;
}
.financial{
    padding-right: 0;
}